@import '../../index.scss';

.pagevideo {
    display: block;
    &_video {
        cursor: pointer;
        img {
            width: 100%;
            object-fit: contain;
        }

        &--duration {
            position: relative;
            border-radius: 6px;
            overflow: hidden;

            p {
                position: absolute;
                right: 3%;
                bottom: 0;
                background-color: black;
                color: white;
                padding: 5px;
            }
        }

        &--detail {
            margin-top: 10px;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
            }

            div {
                width: 100%;
            }
        }
    }

    &:hover {
        transform: scale(1.01);
        transition: all 0.2s linear;
    }
}

.pagevideo__title-wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagevideo_title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    color: $color-titleparent;
}
.pagevideo__author-text,
.pagevideo_sub {
    margin-bottom: 0;
    font-size: 14px;
    color: $color-titlechild;
}
.pagevideo__author-text:hover {
    color: #111;
}

.lazy-load-image-background {
    display: block !important;
}
