.wrapper {
    width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .login__container {
        height: 450px;
    }
    .login_form,
    .thumbnail {
        flex: 1;
        flex-direction: column;
        height: 100%;
    }

    .thumbnail {
        color: #fff;
        background: linear-gradient(to right, #ff4b2b, #ff416c);
    }

    .main__title {
        margin-bottom: 24px;
        font-weight: 700;
        user-select: none;
    }
    .email__wrapper,
    .password__wrapper {
        min-height: 66px;
        padding: 0 32px;

        input {
            padding: 8px 10px;
            border-radius: 4px;
            color: #333;
            font-size: 15px;
            border: 1px solid #adb5bd;

            &:focus-visible {
                outline: none;
                border-color: #495057;
            }
        }
    }
    .email__wrapper {
    }
    .password__wrapper {
        div {
            position: relative;

            input {
                padding-right: 40px;
            }

            button {
                position: absolute;
                padding: 4px 6px;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .error-message {
        font-size: 14px;
        color: #d00000;
    }
    .forgotPassword___btn {
        font-size: 14px;
        color: #666!important;
        font-weight: 500;
        margin-bottom: 6px;
    }
    .login___btn {
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        background-color: #ff4b2b;
        border-radius: 20px;
    }
    .backHome__wrapper {
        margin-top: 24px;
    }

    .signUp__wrapper {
        margin-top: 8px;
    }
    .signUp__btn {
        color: #fff;
        width: 170px;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 20px;
    }
    .mobile__signup-btn {
        display: none;
    }
    .submit__error-message {
        padding-left: 32px;
        margin-bottom: 12px;
    }
}

a {
    text-decoration: none !important;
    color: #7400b8 !important;
}

@media only screen and (max-width: 425px) {
    .thumbnail {
        display: none;
    }
    .backHome__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile__signup-btn {
        display: block;
    }
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
    
}

.modalhome {
    color: #7400b8;
    cursor: pointer;
}
