@import '../../../index.scss';

.video {
    margin-top: 70px;
    padding: 30px;

    iframe {
        height: 80vh;
    }

    p {
        color: $color-titleparent;
        font-weight: 500;
    }

    &_author {
        justify-content: space-between;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        &--icon {
            align-items: center;

            p {
                margin: 0 20px;
                color: $color-titleparent;

                span {
                    color: $color-titlechild;
                    font-size: 15px;
                }
            }
        }

        &--like {
            width: 150px;
            border-radius: 10px;
            justify-content: center;

            svg {
                font-size: 30px;
            }

            p {
                display: flex;
                margin-top: 20px;
                align-items: self-end;

                &:nth-child(1) {
                    margin-right: 10px;
                    margin-top: 18px;
                    align-items: center;

                    span {
                        margin-top: 3px;
                    }
                }

                span {
                    font-size: 20px;
                    margin-top: 10px;
                }
            }
        }

        &--subcript {
            button {
                width: 150px;
                height: 50px;
                outline: none;
                border: none;
                border-radius: 30px;
                color: white;
            }
        }
    }

    &_description {
        margin-bottom: 20px;

        span {
            font-size: 15px;
        }
    }
}

@media (max-width: $breakpoints-lg) {
    .video {
        p {
            font-size: 10px;

            span {
                font-size: 10px;
            }
        }

        &_author {
            &--icon {
                p {
                    display: block;
                    width: 100%;
                    margin: 0;

                    span {
                        font-size: 10px;
                    }
                }
                img {
                    width: 35px;
                    height: 35px;
                }
            }

            &--like {
                svg {
                    font-size: 20px;
                }
            }
            &--subcript {
                button {
                    width: 70px;
                    height: 30px;
                    outline: none;
                    border: none;
                    font-size: 10px;
                    border-radius: 30px;
                    color: white;
                }
            }
        }

        &_description {
            span {
                font-size: 10px;
            }
        }
    }
}

.dissubcript {
    background-color: rgb(152, 58, 58);
}

.subcript {
    background-color: gray;
}
