@import '../../../index.scss';

.search {
    display: grid;
    margin-top: 60px;
    overflow: hidden;
    &_video {
        padding: 0 30px;
        margin-bottom: 20px;
        display: flex;
        &--duration {
            margin-right: 40px;
            width: 100%;
            flex: 1;
            max-height: 150px;
            img {
                width: 100%;
                object-fit: fill;
                height: 100%;
                cursor: pointer;
            }
        }

        &--detail {
            margin-top: 10px;
            flex: 3;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
            }

            div {
                width: 100%;

                h4 {
                    font-size: 13px;
                    font-weight: 500;
                    margin-bottom: 0;
                    color: $color-titleparent;
                }

                p {
                    margin-bottom: 0;
                    color: $color-titlechild;
                    cursor: pointer;
                    font-size: 13px;
                }
            }
        }
    }
}
.lazy-load-image-background {
    display: block !important;
}

@media (max-width: $breakpoints-small) {
    .search {
        &_video {
            &--detail {
                div {
                    h4 {
                        font-size: 10px;
                    }
                    p {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: $breakpoint-xl) {
    .search {
        &_video {
            &--detail {
                div {
                    h4 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 20px;
                    }
                }
            }
            &--duration {
                &_img {
                    height: 118px;
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .search {
        &_video {
            &--duration {
                &_img {
                    height: 100px;
                }
            }
            &--detail {
                div {
                    h4 {
                        font-size: 8px;
                    }
                    p {
                        font-size: 8px;
                    }
                }
            }
        }
    }
}
