@import '../../index.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    top: 0;
    height: 70px;

    &_logo {
        img {
            width: 50px;
            height: 50px;
            margin-left: 10px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &_search {
        border: 1px solid #bde0fe;
        border-radius: 25px;
        position: relative;
        width: 60%;
        height: 40px;

        input {
            border: none;
            outline: none;
            background: unset;
            padding-left: 24px;
            height: 100%;
            width: calc(100% - 50px);

            &::placeholder {
                font-size: 15px;
            }
        }
        button {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            outline: none;
            background-color: unset;
            height: 100%;
            padding: 0 8px;

            svg {
                font-size: 25px;
            }
        }
    }

    &_icon {
        svg {
            font-size: 25px;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media (max-width: $breakpoints-small) {
    .header {
        &_logo {
            img {
                display: none;
            }
        }
        &_search {
            input {
                width: 75%;
            }
        }
        &_icon {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.header__btn-login {
    padding: 4px 12px;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    margin: 0;
    user-select: none;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;

    &:hover {
        border-color: rgba(0, 0, 0, 0.6);
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px;
        color: rgba(0, 0, 0, 0.85);
    }

    &:focus-visible {
        outline: unset;
    }
}

.menu__button {
    padding: 8px 8px;
    margin-left: -8px;
    background-color: transparent;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        background-color: $hover-gray;
    }
}

.upload__btn {
    margin-right: 24px;
    padding: 8px;
    border-radius: 50%;

    &:hover {
        background-color: $hover-gray;
    }
}
