@import '../index.scss';

.homepage {
    width: 100%;

    &_homevideo {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding: 10px 20px 20px 20px;
        margin-top: 140px;
    }
    &_category {
        position: fixed;
        z-index: 99;
        overflow: hidden;
        display: flex;
        width: 100%;
        overflow-x: scroll !important;
        padding: 20px 20px 0 20px;
        background-color: white;
        &::-webkit-scrollbar {
            width: 0px;
        }
        cursor: pointer;
        margin-top: -75px;
    }
}

.category__item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding: 10px 24px;
    background-color: #0000000d;
    border-radius: 5px;
    transition: all 0.2s linear;

    p {
        font-size: 15px;
        font-weight: 400;
        color: #333;
        line-height: 100%;
        white-space: nowrap;
        margin-bottom: 0 !important;
    }

    &.active {
        background-color: #0f0f0f;

        p {
            color: white;
            font-weight: 500;
        }

        &:hover {
            background-color: #0f0f0f;
        }
    }

    & + & {
        margin-left: 16px;
    }

    &:hover {
        background-color: #e5e5e5;
    }
}

@media (max-width: $breakpoint-medium) {
    .homepage {
        &_homevideo {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width: 880px) {
    .homepage {
        &_homevideo {
            grid-template-columns: repeat(2, 1fr);
        }
        &_category {
            margin-top: unset;
            top: 10%;
        }
    }
}

@media (max-width: $breakpoints-small) {
    .homepage {
        padding: 0;

        &_homevideo {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
