.notFound__wrapper {
    margin-top: 32px;
}

.notFound__img {
    width: 200px;
}

.notFound__noti-wrapper {
    margin-top: 16px;

    span {
        font-weight: 500;
        font-size: 16px;
    }
}
