.avatar {
    position: absolute;
    top: 100%;
    right: 3%;
    background-color: #f8f9fa;
    width: 260px;
    padding: 20px 0 16px 0px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &_icon {
        cursor: pointer;

        input {
            display: none;
        }
    }

    &_logout {
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
            margin-right: 16px;
            font-size: 20px;
        }

        p {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    &_theme {
        display: flex;
        align-items: center;
        cursor: pointer;

        p {
            margin-top: 10px;
            margin-bottom: 10px;

            svg {
                font-size: 15px;
            }
        }
    }
}
.avatar_icon {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cfcfcf;
}
.userInfo__wrapper {
    margin-left: 12px;
}
.userInfo__text {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin-bottom: 0;
}

.update__avatar-btn {
    img {
        width: 32px;
    }

    &:hover {
        cursor: pointer;
    }
}

.avatar_logout,
.avatar_theme {
    padding-left: 16px;
    transition: all 0.2s linear;

    p {
        font-size: 14px;
        color: #333;
    }

    &:hover {
        background-color: #dbdada;
    }
}

.avatar_logout > div,
.theme__wrapper > div {
    width: 32px;
}
.avatar_theme {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .theme__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            font-size: 18px;
        }
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 6px;
        outline: unset;
        border: unset;
        background-color: transparent;

        svg {
            font-size: 20px;
            color: #333;
        }

        &:focus-visible {
            outline: unset;
        }
    }
}
